body {
    overflow-y: hidden;
    padding: 15px;
    background-color: bisque;
}

#chat-user-profile {
    position: relative;
    left: 0%;
    right: 0%;
}

#msg-time {
    font-size: x-small;
}

#sender-msg {
    max-width: 350px;
    min-width: 200px;
    background-color: #e0f7fa;
    padding: 10px;
    border-radius: 10px;
}

/* 
#sender {
    width: fit-content;
    height: fit-content;
    /* position: relative;
    left: 86%; */
/* }  */

/* #receiver {
    width: fit-content;
    height: fit-content;
} */

#receiver-msg {
    max-width: 350px;
    min-width: 200px;
    background-color: #e8eaf6;
    padding: 10px;
    border-radius: 10px;
}

#chat-box {
    background-image: url('./images/whatsapp_background.jpeg');
    overflow-y: scroll;
    max-height: 520px;
    min-height: 520px;
}

#chat-box-body {
    font-size: 15px;
}

#chat-box-footer {
    padding: 5px;
    border-top: 1px solid #e8eaf6;
}

/* .typing-box {
    padding-top: 11px;
    padding-bottom: 11px;
} */

/* Default styles for all screen sizes */
/* body {
    font-size: 16px;
} */

#main-box {
    /* box-shadow: black; */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1),
        -4px -4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}